*,
*:before,
*:after {
  box-sizing: border-box;
}

/*Hero*/

.hero {
  position: relative;
  width: 100%;
  height: 500px;
  background-position: center center;
  background-image: url(../images/index/hero.jpeg);
}

.hero-inner {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);
}

.hero-inner .container {
  height: 100%;
  display: flex;
  align-items: center;
}

.hero-inner .text-wrapper {
  height: max-content;
  max-width: 600px;
  color: var(--white);
}

.hero-inner .text-wrapper h1 {
  color: var(--white);
  font-family: "Open Sans Bold", Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.hero-inner .text-wrapper h1 span {
  color: var(--blue);
  font-family: "Open Sans Med", Arial, Helvetica, sans-serif;
  font-size: 24px;
}

.hero-inner .text-wrapper p {
  color: var(--white);
}

/*Media Queries*/

@media screen and (max-width: 1400px) {
  .nav-container {
    padding: 0 8px;
  }
}

@media screen and (max-width: 600px) {
  .desktop-nav {
    display: none;
  }
  #menu-container {
    display: block;
  }
}
